@import 'variables';

.container{
    h2 {
        font-family: Avenir;
        font-style: normal;
        font-weight: 800;
        font-size: 26px;
        line-height: 36px;
        color: #000000;
        margin-top: 33px;
        margin-bottom: 33px;
    }
    
    .name {
        font-family: Avenir;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        /* identical to box height */
    
    
        color: #000000;
    }
    
    .text{
        width: 362px;
        height: 40px;
        // left: 26px;
        // right: 26px;
        // top: 190px;
        margin-top: 8px;
        margin-bottom: 33px;
    
        background: #F4F4F4;
        border-radius: 10px;
        border: none;
    }

    .btn-primary{
        position: absolute;
        width: 60px;
        height: 25px;
        margin-bottom: 32px;
    
        font-family: Avenir;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 25px;
    
    
        color: #FFFFFF;
    
        width: 362px;
        height: 40px;
        top: 800px;
    
        background: #F8BD1C;
        border-radius: 4px;
        border: none;
    }

    .board-area{
        position: absolute;
        display: inline-block;
        width: 362px;
        height: 203px;
        margin-top: 8px;
        margin-bottom: 350px;

        background: #F4F4F4;
        border-radius: 10px;
        border: none;
    }
}

// 編集、削除のdropdown

.dropbtn {
  border: none;
}

.dropdown {
  position: relative;
  left: 260px;
  bottom: 110px;
  display: inline-block;
}

.dropdown-content {
  font-weight: normal;
  display: none;
  right: 0;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

  &.mini {
      min-width: 100px;
  }
}

.dropdown-content a {
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  color: $text-base-color;
}

.dropdown-content a:hover {
  background-color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}




//↓プロフィールのdropdown

.dropdown_icon {
  position: relative;
  right:10px;
  display: inline-block;
}

.dropdown-content_icon {
  font-weight: normal;
  display: none;
  right: 0;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

  &.mini {
      min-width: 100px;
  }
}

.dropdown-content_icon a {
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  color: $text-base-color;
}

.dropdown-content_icon a:hover {
  background-color: white;
}

.dropdown_icon:hover .dropdown-content_icon {
  display: block;
}